# Base de données
DATABASE_URL="postgresql://postgres:postgres123@localhost:5432/francais_fluide?schema=public"


# Stripe
STRIPE_PUBLISHABLE_KEY="pk_test_51QVRfLIDmnVVCMWexwpjq33wWWak3y7TxysBhvUwUuaxBUAWtxusWKNkp79qOBjbWmTof6Zpa0OphFGHyBrTLi3Y00sI0rR53C"
STRIPE_SECRET_KEY="sk_test_51QVRfLIDmnVVCMWeLFzm7YyAQqpgo39QjhmOVgofirUPinyqeVdcWnFUYTWT7ZO9UaS6pwkSlo102UmCZgF9sXel00RfNSfnUp"
STRIPE_WEBHOOK_SECRET="whsec_..."

# JWT
JWT_SECRET="your-super-secret-jwt-key"

# Next.js
NEXTAUTH_URL="http://localhost:3000"
NEXTAUTH_SECRET="your-nextauth-secret"

# Email (optionnel)
SMTP_HOST="smtp.gmail.com"
SMTP_PORT="587"
SMTP_USER="your-email@gmail.com"
SMTP_PASS="your-app-password"
